<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="newlogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>luke</title>
    <link rel="icon" 
      type="image/png" 
      href="icons/lk.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="The most natural, flexible and simple technology to build and run real use cases.">
    <meta name="keywords" content="digitalisation, apps, platform, collaboration">
    <meta name="viewport" content="width=device-width" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/zenburn.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="assets/css/leto.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
    body {
        color: #66615b;
        font-size: 16px;
        font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
        height: 100%;
        letter-spacing: 0.9px;
    }

    html {
        height: 100%;
    }

    .leto-frame-dark {
        height: 100%;
    }

    .leto-scroll-h {
        max-width: 100%;
        overflow: scroll;
        white-space: nowrap;
    }

    .large-icon {
        font-size: 35px;
    }
    </style>
</head>

<body class="leto-frame-dark">
    <div class="leto-frame-dark" id="app" name="app">
        <div class="leto-container-full leto-p-xl leto-pt-none leto-pb-none">
            <div class="leto-card leto-bg-black leto-width-full leto-text-white leto-border-none leto-pb-none leto-roundness-md leto-p-xl">
                <div class="leto-group leto-vertical-center">
                    <div class="leto-mr-lg">
                        <img src="icons/lk.png" style="height:80px">
                    </div>
                    <div class="leto-left leto-mb-sm">
                    </div>
                    <a class="leto-mh-sm" href="#what">
                        <div class="leto-button leto-border-none">What?</div>
                    </a>
                    <a class="leto-mh-sm" target="_blank" href="https://luke-lang.github.io/modules">
                        <div class="leto-button leto-border-none">Modules</div>
                    </a>
                    <a class="leto-mh-sm" target="_blank" href="https://luke-lang.github.io/docs">
                        <div class="leto-button leto-border-none">Docs</div>
                    </a>
                    <!--a class="leto-mh-sm">
                        Docs
                    </a-->
                </div>
                <div class="leto-group leto-horizontal-center leto-mt-xl">
                    <div class="leto-group leto-mt-xxl">
                        <div class=" leto-text-xxl leto-text-center">
                            An abstract programming language that makes things simple
                        </div>
                    </div>
                </div>
                <br>
            </div>



            <div class="leto-group leto-horizontal-center leto-vertical-center" name="getit" id="getit">
                <div class="leto-group leto-width-full leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-column leto-width-full leto-vertical-center leto-mt-lg leto-ph-xl">
                        <div class="leto-width-full leto-horizontal-center leto-vertical-center">
                            <center>
                                <div class="leto-block">
                                    <div class="leto-button" v-on:click="showInstallOptions = !showInstallOptions">&nbsp; Start coding &nbsp;<span class="fa fa-chevron-down leto-pr-sm" v-bind:class="{'fa-chevron-up' : showInstallOptions}"></span></div>

                                     <a class="leto-button" target="_blank" href="https://luke-lang.github.io/docs"><span class="fa fa-book leto-pr-sm"></span> Learn</a>

                                </div>
                                <span v-if="showInstallOptions">

                                    <div class="leto-button" v-on:click="showInstall(`$ npm i luke-lang -g

$ luke run myfile.luke;
$ # or
$ luke
> print hello`);installFormat='left'"><span class="fa fa-terminal leto-pr-sm"></span> Terminal</div>

                                 
                                    <div class="leto-button" v-on:click="showInstall(`<script src=\'https://cdn.jsdelivr.net/gh/luke-lang/luke/luke.browser.js\'>

<script type='text/x-luke'>
    print hello
</script>

<script type='text/x-luke' src='myfile.luke' />`);installFormat='left'"><span class="fa fa-code leto-pr-sm"></span> Browser</div>

 <!--div class="leto-button" v-on:click="showInstall(`luke bundle desktop`);installFormat='left'"><span class="fa fa-desktop leto-pr-sm"></span> Desktop</div-->

   <div class="leto-button" v-on:click="showInstall(`$ npm i luke-lang --save

const luke = require('luke-lang')
luke.parse('print hello')`);installFormat='left'"><span class="fab fa-node-js leto-pr-sm"></span> Node</div>
                                   
                                    <a href="https://luke-lang.github.io/lx" target="_blank" class="leto-button"><span class="fa fa-window-restore leto-pl-sm"></span> &nbsp; Online <span class="fa fa-chevron-right leto-ml-sm"></span></a>
                                    
                                   
                                        
                  

                                    <div v-if="installInstruction" class="leto-click leto-bg-black leto-text-center" v-on:click="clipboard(installInstruction)">
                                        <br>
                                        <pre class="leto-text-white leto-inline-block" v-bind:class="{'leto-text-left': installFormat == 'left', 'leto-text-center': installFormat == 'center'}">{{installInstruction}}</pre>
                                    </div>
                                   
                                </span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>



            <div class="leto-group leto-horizontal-center leto-mt-xxl">
                <div class="leto-two-thirds" v-show="currentPreview==1">
                            <div class="leto-width-full">
                                <pre style="border-radius: 10px">

<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >print (
    Welcome, developer!
    This is a luke script.
)

// Use a module
use 'https://rest.luke.js';

post {name: "Peter"} to "http://api.com";
</code>
</pre>
                            </div>
                        </div>
            </div>


             <br>

            <center>
            <div class="leto-text-xl leto-text-center leto-two-thirds leto-mt-xxl leto-text-dark-grey" name="what" id="what">

                Make simple things simple!
                <br>
                luke is a javascript-based programming language that serves as a platform for simple syntax to create anything in an always-abstract way. build stuff like:

            </div>
            </center>

     

              <div class="leto-group leto-horizontal-center leto-vertical-center" v-if="buildFeatured.length > 0">
                <div class="leto-group leto-width-full leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-column leto-width-full leto-vertical-center leto-mt-lg leto-ph-xl">
                        <div class="leto-width-full leto-horizontal-center leto-vertical-center">
                            <center>
                              

                                <div class="leto-bubble-wrapper-xxl leto-text-center  leto-border-none " v-for="e in buildFeatured">

                                    <div class="leto-bubble-lg leto-border-none leto-text-dark-grey">
                                        <span class="fa" v-bind:class="'fa-'+e.icon"></span>
                                    </div>
                                    <label class="leto-text leto-text-dark-grey">
                                        {{e.title}}
                                    </label>
                                  
                                </div>



                            </center>
                        </div>
                    </div>
                </div>
            </div>


           



            <!--div class="leto-text-xl leto-text-center leto-mt-xxl leto-text-dark-grey">

                Runs on:

            </div>

              <div class="leto-group leto-horizontal-center leto-vertical-center" v-if="featured.length > 0">
                <div class="leto-group leto-width-full leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-column leto-width-full leto-vertical-center leto-mt-lg leto-ph-xl">
                        <div class="leto-width-full leto-horizontal-center leto-vertical-center">
                            <center>
                              

                                <div class="leto-bubble-wrapper-xxl leto-text-center  leto-border-none leto-mh-xxl" v-for="e in featured">

                                    <div class="leto-bubble-lg leto-border-none leto-text-dark-grey">
                                        <span class="fa" v-bind:class="'fa-'+e.icon"></span>
                                    </div>
                                    <label class="leto-text-lg leto-text-dark-grey">
                                        {{e.title}}
                                    </label>
                                  
                                </div>



                            </center>
                        </div>
                    </div>
                </div>
            </div-->



            <!--br>
            <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt-xl ">
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-m">
                    <div class="leto-width-four-fifths leto-mt-xxl">
                        
                        <div class="leto-width-full" v-show="currentPreview==1">
                            <div class="leto-width-full">
                                <pre style="border-radius: 10px">

<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >use 'https://objy.luke.js';

define object;

add object with name "test";
</code>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leto-group leto-width-half leto-horizontal-center  leto-bg-purple leto-m">
                    <div class="leto-column leto-width-full  leto-ph-xl">
                        <div class="leto-mv-xxl">
                            <div class="leto-text-xl">
                                In luke, <b><u>abstraction</u></b> is everything!
                                <br>
                                The syntax is lightweight and simple. It allows anyone to easily build stuff easily.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt-xl">
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-bg-yellow leto-text-black leto-m">
                    <div class="leto-column leto-width-full  leto-ph-xl">
                        <div class="leto-mv-xxl">
                            <div class="leto-text-xl">
                                Runs on <b><u>many platforms</u></b>.<br>Since luke itself runs on javascript, luke applications can be run in any JS environment, like browsers or node.
                            </div>
                      
                        </div>
                    </div>
                </div>
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-text-black leto-m">
                    <div class="leto-column leto-width-full leto-mt-xxl leto-ph-xl">
                       
                        <div class="leto-width-full">
                            <pre style="border-radius: 10px">
<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >&lt;script type="text/x-luke"&gt;
    print "hello world";
&lt;/script&gt;
</code>
</pre>
                          
                        </div>
<div class="leto-width-full">
                            <pre style="border-radius: 10px">
<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >$ luke run file.luke
</code>
</pre>
                          
                        </div>
                         <div class="leto-width-full">
                            <pre style="border-radius: 10px">
<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >const luke = require('luke-lang');
</code>
</pre>
                          
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt-xl ">
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl  leto-m">
                    <div class="leto-column leto-width-full leto-mt-xxl leto-ph-xl">
                      
                        <div class="leto-width-full">
                            <pre style="border-radius: 10px">

<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >// 1. Build your syntax
$: {
  'echo': {
    follow: ["{text}"],
    method: (ctx, text) => {
      console.log(text)
  }
}
</code>
</pre>
                            <pre style="border-radius: 10px">

<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >// 2. Use your syntax as module
use mymodule.luke.js;
echo "hello";
</code>
</pre>
                        </div>
                    </div>
                </div>
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-bg-blue leto-m">
                    <div class="leto-width-four-fifths ">
                        <div class="leto-mv-xxl leto-vertical-right">
                            <div class="leto-text-xl">
                                Create <b><u>your own module or language</u></b>.
                                <br>
                                Build a custom language for developing in your domain. Use your syntax as module and even collaborate to the ecosystem.
                            </div>
                        </div>
                       
                </div>
            </div>
        </div>
        <br>

        

             <div class="leto-group leto-horizontal-center leto-vertical-center" name="getit" id="getit">
                <div class="leto-group leto-width-full leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-column leto-width-full leto-vertical-center leto-mt-lg leto-ph-xl">
                        <div class="leto-width-full leto-horizontal-center leto-vertical-center">
                            <center>
                              

                                <div class="leto-card leto-border-none leto-p leto-m leto-bg-black leto-text-left" v-for="e in examples" style="background: #313131;">

                                    <div class="leto-text-xl leto-text-center">
                                        <span class="large-icon fa" v-bind:class="'fa-'+e.icon"></span> {{e.title}}
                                    </div>
                                    <pre style="border-radius: 10px" >
<code class="javascript" style="font-size:20px;background:#313131;padding:20px" >
{{e.code}}
</code>
</pre>
<br>
<a class="leto-text-center" v-bind:href="e.link">{{e.linkText}}</a>
                                </div>



                            </center>
                        </div>
                    </div>
                </div>
            </div>




            <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt-xl">
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-bg-yellow leto-text-black leto-m">
                    <div class="leto-column leto-width-full  leto-ph-xl">
                        <div class="leto-mv-xxl">
                            <div class="leto-text-xl">
                                <b><u>Multi-domain</u></b> with modules for anything . The language is built upon an open module ecosystem that lets you create things for different domains.
                            </div>
                      
                        </div>
                    </div>
                </div>
                <div class="leto-group leto-width-half leto-horizontal-center leto-mt-xl leto-text-black leto-m">
                    <div class="leto-column leto-width-full leto-mt-xxl leto-ph-xl">
                       
                        <div class="leto-width-full">
                            <pre style="border-radius: 10px">
<code class="javascript" style="font-size:20px;background:#232323;padding:20px" >// Use a module from url or file
use 'https://url.com/module.luke.js';
use 'module.luke.js';

print "modules loaded";
</code>
</pre>
                          
                        </div>
                    </div>
                </div>
            </div-->

<br>



             <div class="leto-group leto-horizontal-center leto-vertical-center" name="getit" id="getit">
                <div class="leto-group leto-width-full leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-column leto-width-full leto-vertical-center leto-mt-lg leto-ph-xl">
                        <div class="leto-width-full leto-horizontal-center leto-vertical-center">
                            <center>
                              

                                <div class="leto-card leto-border-none leto-p leto-m leto-bg-black leto-text-left" v-for="e in examples" style="background: #313131;">

                                    <div class="leto-text-lg leto-text-center">
                                        <span class="large-icon fa" v-bind:class="'fa-'+e.icon"></span> {{e.title}}
                                    </div>
                                    <pre >
<code class="javascript" style="font-size:15px;background:#313131;padding:10px" >
{{e.code}}
</code>
</pre>
                                </div>

                            </center>
                        </div>
                    </div>
                </div>
            </div>

      
    </div>
    <div class="leto-container-full leto-p-xl leto-mt-xl">
        <div class="leto-group leto-horizontal-center">
            <a target="_blank" href="https://luke-lang.github.io/docs" class="leto-button leto-ml-none">
                Learn luke
            </a>
            <a href="#app" v-on:click="showInstallOptions=true" class="leto-button leto-ml-none">
                Get luke
            </a>
             <a href="https://github.com/luke-lang" v-on:click="showInstallOptions=true" class="leto-button leto-ml-none">
                <span class="fab fa-github"></span>
            </a>
        </div>
        <div class="leto-text-xs leto-text-lighter-grey leto-p-xxl leto-text-center">luke is open source and released under the MIT License. &copy; luke collaborators</div>
    </div>
    </div>
    <script>
    hljs.initHighlightingOnLoad();
    </script>
</body>
<script type="text/javascript" src="index.js"></script>

</html>