<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LX beta</title>
    <link rel="manifest" href="manifest.json">
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/luke-lang/luke@0.0.3/luke.browser.js"></script-->
    <script type="text/javascript" src="luke-local.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" type="text/css" href="./leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
    fs = new LightningFS('fs');
	import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
	window.http = http;
	</script>
	    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js');
        }
    </script>
</head>

<body>
    <div id="app" class="leto-frame">
        <div class="welcome-msg leto-text-white leto-horizontal-center leto-group leto-vertical-center" v-if="welcomeMsg">
            <div class="leto-text-center">
                <div class="leto-text-xxl">
                    Welcome to LUKE-X
                </div>
                <br> LX is a web-based, interactive UI for luke scripting. It let's you:
                <br>
                <br>
                * Run luke scripts
                <br>
                * Save scripts and organize projects
                <br>
                * Create simple, custom user interfaces
                <br>
                <br>
                <div class="leto-button" v-on:click="hideWelcomeMsg()">Start</div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="sidebar">
        	
        	<div class="leto-pl-sm">
        		<span v-if="!addOptionsShown" >
        		<div class="leto-bubble-xs leto-p-none leto-mr-none times leto-text-white leto-border-none leto-bold leto-click" v-on:click="addProject(undefined)"><div class="fa fa-plus" style="font-size: 16px"></div></div>
        		<!--div class="leto-bubble-xs leto-p-none leto-mr-none times leto-text-white leto-bold leto-click" v-on:click="currentProject=null;addTab(undefined, '//Run a quick script;\n')"><div class="fa fa-terminal" style="font-size: 16px"></div></div-->

        		<div class="leto-bubble-xs leto-p-none leto-mr-none times leto-text-white leto-bold leto-click leto-border-none" v-on:click="addOptionsShown=true"><div class="fa fa-ellipsis-h" style="font-size: 16px"></div></div>
        	</span>
        		<span v-if="addOptionsShown">
        			<div class="leto-bubble-xs leto-p-none leto-mr-none times leto-text-white leto-bold leto-click leto-border-none" v-on:click="addOptionsShown=false"><div class="fa fa-chevron-left" style="font-size: 16px"></div></div>
        			<div class="leto-bubble-xs leto-p-none leto-mr-none times leto-text-white leto-border-none leto-bold leto-click" v-on:click="gitCommand('clone')"><div class="fa fa-git" style="font-size: 16px"></div></div>
        		</span>
        	</div>

            <div v-for="(project, k) in projects">
                <div class="leto-text-white leto-block leto-pl-sm leto-p-sm times-hover leto-click" v-bind:class="{'leto-border-thickness-xxl': k == currentProject}" v-on:click="useProject(k)" v-on:dblclick="changeProjectName(k)">
                   
                    <span class="fa leto-text-xs leto-mr-none times" v-bind:class="{'fa-chevron-down': structoreHidden[k], 'fa-chevron-up': !structoreHidden[k]}" v-on:click="toggleStructureHidden(k)"></span> 

                    <b v-bind:class="{'active': k == currentProject}">{{k || '...'}}</b>  

					<span class="leto-color-grey leto-click bubble-badge- leto-mr-xs times" v-on:click="toggleGitControls(k)"><div class="fa fa-git" style="font-size: 16px"></div></span>
                    <span class="leto-color-grey leto-click bubble-badge- times" v-on:click="deleteProject(k)">&times;</span>

                     <div v-if="gitControls[k]" class="leto-text-sm leto-ml-md leto-mt-sm">
		            	
		            	<div class="leto-block leto-m-xxs" v-on:click="gitCommand('repo')">
		            		repo: {{(gitSettings[k] || {}).repo || '...'}}
		            	</div>
		            	<div class="leto-block leto-m-xxs" v-on:click="gitCommand('checkout')">
		            		branch: {{(gitSettings[k] || {}).branch || 'master'}}
		            	</div>

		            	<div  v-if="currentProject" class="leto-button-xs leto-ph-xs leto-text-white leto-m-xxs" v-on:click="gitCommand('pull')">pull</div>
		            	<div  v-if="currentProject" class="leto-button-xs leto-ph-xs leto-text-white leto-m-xxs" v-on:click="gitCommand('commit')">commit</div>
		            	<div  v-if="currentProject" class="leto-button-xs leto-ph-xs leto-text-white leto-m-xxs" v-on:click="gitCommand('push')">push</div>
		            </div>

                </div>

                <subdir v-if="!structoreHidden[k]" :k="k" />

            </div>
        </div>

        <!-- main content -->
        <div class="main-content leto-pt-xs">
            <br>

            <!-- tab bar -->
            <div class="tab-bar" >
                <div>
                    <div class="leto-button-xs leto-text-white leto-border-none times-hover" v-for="(tab, k) in tabs" v-bind:class="{'active': k == currentTab}" >
                        <span v-on:click="useTab(k, tab.content)">{{tab.content.substring(0, 8) || '(empty)'}}</span>
                        <div class="leto-ml-xs leto-color-grey leto-click times" v-on:click="deleteTab(k)">&times;</div>
                    </div>
                    <div class="leto-button-xs leto-text-white leto-border-none times" v-on:click="addTab(undefined, '')">+</div>
                </div>
            </div>
            <br>
            <!-- canvas for quixui scripts (experimental) -->
            <div class="leto-m leto-text-white" v-if="content.includes('quixui.luke.js')">
                quix canvas...
                <div class="leto-button">btn1</div>
            </div>
            <!-- canvas for custom html from the lxhtml module -->
            <div class="leto-m-lg leto-text-white" id="html-canvas" v-html="customContent.html" v-bind:style="customContent.style" v-show="customContent.html"></div>
            <br>
            <!-- the main editor (ace.js) -->
            <div id="editor" class="leto-mt-sm"></div>
            <br>
            <div style="margin-left: 35px;display: inline-block;">
                <div class="leto-button-xs leto-text-white" v-bind:class="{'disabled': !content}" v-on:click="runCode(content)">RUN</div>
                <div class="leto-button-xs leto-text-white" v-if="currentProject" v-bind:class="{'disabled': !content}" v-on:click="saveContent()"><span class="fa fa-save"></span></div>
            </div>
            <br>
            <pre class="leto-text-white leto-p" style="margin-left: 20px;display: inline-block;color:#999999" v-html="output"></pre>
        </div>
    </div>
    <script src="./ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./subdir.js"></script>
    <script src="./index.js"></script>
</body>

</html>