<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LX beta</title>
    <link rel="manifest" href="manifest.json">
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/luke-lang/luke@0.0.3/luke.browser.js"></script-->
    <script type="text/javascript" src="luke-local.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" type="text/css" href="./leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="app" class="leto-frame">
        <div class="welcome-msg leto-text-white leto-horizontal-center leto-group leto-vertical-center" v-if="welcomeMsg">
            <div class="leto-text-center">
                <div class="leto-text-xxl">
                    Welcome to LUKE-X
                </div>
                <br> LX is a web-based, interactive UI for luke scripting. It let's you:
                <br>
                <br>
                * Run luke scripts
                <br>
                * Save scripts and organize projects
                <br>
                * Create simple, custom user interfaces
                <br>
                <br>
                <div class="leto-button" v-on:click="hideWelcomeMsg()">Start</div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="sidebar">
            <div v-for="(project, k) in projects">
                <div class="leto-text-white leto-block leto-pl-sm leto-p-sm times-hover- leto-click" v-bind:class="{'leto-border-thickness-xxl': k == currentProject}" v-on:click="useProject(k)" v-on:dblclick="changeProjectName(k)">
                   
                    <b>{{k || '...'}}</b>  <span class="leto-color-grey leto-click bubble-badge-" v-on:click="deleteProject(k)">&times;</span>
                </div>
                <div v-for="(file, t) in files" v-if="file.project == k" >
                    <div class="leto-ml-lg leto-text-white leto-pb-xxs leto-click" v-on:click="useFile(t);useTab(t)"><span>{{file.content.substring(0, 18) || '(empty)'}}</span></div>
                </div>
                 <div class="leto-button-xs leto-text-white leto-border-none times" v-on:click="addFile(undefined, '', '', k)"><span class="super-grey-label">+ file</span></div>
            </div>
            <div class="leto-button-xs leto-text-white leto-border-none" v-on:click="addProject(undefined)"><span class="super-grey-label">+ project</span></div>
        </div>
        <!-- main content -->
        <div class="main-content leto-pt-xs">
            <br>
            <!-- tab bar -->
            <div class="tab-bar">
                <div>
                    <div class="leto-button-xs leto-text-white leto-border-none times-hover" v-for="(tab, k) in tabs" v-bind:class="{'tab-active': k == currentTab}" v-on:click="useFile(k)">
                        <span>{{tab.content.substring(0, 8) || '(empty)'}}</span>
                        <div class="leto-ml-xs leto-color-grey leto-click times" v-on:click="deleteTab(k)">&times;</div>
                    </div>
                    <div class="leto-button-xs leto-text-white leto-border-none times" v-on:click="addFile(undefined, '', '', currentProject)">+</div>
                </div>
            </div>
            <br>
            <!-- canvas for quixui scripts (experimental) -->
            <div class="leto-m leto-text-white" v-if="content.includes('quixui.luke.js')">
                quix canvas...
                <div class="leto-button">btn1</div>
            </div>
            <!-- canvas for custom html from the lxhtml module -->
            <div class="leto-m-lg leto-text-white" id="html-canvas" v-html="customContent.html" v-bind:style="customContent.style" v-show="customContent.html"></div>
            <br>
            <!-- the main editor (ace.js) -->
            <div id="editor" class="leto-mt-sm"></div>
            <br>
            <div style="margin-left: 35px;display: inline-block;">
                <div class="leto-button-xs leto-text-white" v-bind:class="{'disabled': !content}" v-on:click="runCode(content)">RUN</div>
                <div class="leto-button-xs leto-text-white" v-bind:class="{'disabled': !content}" v-on:click="saveContent()"><span class="fa fa-save"></span></div>
            </div>
            <br>
            <pre class="leto-text-white leto-p" style="margin-left: 20px;display: inline-block;color:#999999" v-html="output"></pre>
        </div>
    </div>
    <script src="./ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>

</html>