html, body, .container-fluid {
  height: 100%;
  background-color: #222222;
  color:#EFEFEF;
  padding: 0px;
  margin: 0px;
}

html {
  -webkit-app-region: drag;
}

#app {
	height:100%;
	background-color: #222222;
}

.main-content{
	 top: 0px;
    height:100px;
    width: 100%;
    left: 55px;
    max-width: 80%;
    display: inline-block;
}

#editor { 
    min-height:30px !important;
    width: calc(100% - 120px);
}

.sidebar{
	width:150px;
  padding-top:20px;
	height:100%;
	display: block;
	float:left;
	background: #222222;
}

.ace_gutter-cell, .ace_scroller, .ace_content, .ace_gutter-layer {
	background: #222222;
}

.ace-monokai .ace_marker-layer .ace_active-line {
	background: #222222 !important;
}

.tab-bar {
	max-width: 100%;
    overflow: scroll;
    margin-left: 20px;
    display: inline-block;
}

.tab-active {
	font-weight: bold;
	//text-decoration: underline;
}

.leto-bubble-mmd {
	height: 50px !important;
    width: 50px !important;
}

.bubble-badge {
    display: inline-block;
    position: relative;
    top: -20px;
    right: -50px;
    margin-right: -20px;
    margin-bottom: -30px;
    margin-top: 8px
}

.times-hover:hover .times {
  display: inline-block;
}

.times {
  display: none;
  color: #999999 !important;
}