<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Puzzle Shell</title>
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/puzzle-lang/puzzle@0.0.3/puzzle.browser.js"></script-->
    <script type="text/javascript" src="puzzle-local.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
    <style type="text/css">
    .output {
        // position: absolute !important;
    }
    </style>
</head>

<body>
    <div id="app" class="leto-frame">
        <!--div class="leto-text-white appbar leto-p-xxs">
            <!--div class="leto-pv-xxs leto-badge-xl leto-border-none leto-inline-block leto-click leto-text-sm leto-pt-sm leto-ph" style="background: #000000" v-bind:class="{'leto-border-thickness-xxl': currentProject}">
                <div style="font-weight:bold;color:#999999">
                    <span v-on:click="currentProject = null">
                        <i class="fa fa-ellipsis-h"></i>&nbsp;{{currentProject}}
                    </span>
                    <span class="leto-ml-xs leto-color-grey leto-click" v-on:click="addDir(currentProject)">+</span>
                    <span class="leto-color-grey leto-click" v-on:click="deleteProject(currentProject)">&times;</span></div>
            </div->
            <div class="leto-bubble-wrapper leto-mh-xs">
                <div class="leto-bubble-sm leto-bg-black leto-border-none" v-on:click="hideTree=false;blankOutput = false"><span class="fa fa-code"></span>
                </div>
                <label class="leto-text-xs">EDITOR</label>
            </div>
            <div class="leto-bubble-wrapper leto-mh-xs" v-for="(tab, i) in tabs">
                <div class="leto-bubble-sm" v-on:click="useTab(i, tab.content, undefined, true)">&nbsp;
                </div>
                <label class="leto-text-xs">{{tab.content.substring(0, 5)}} <span class="leto-color-grey leto-click" v-on:click="deleteTab(i)">&times;</span></label>
            </div>
            <!-div class="leto-bubble-wrapper leto-mh-xs" v-for="(project, k) in projects">
                <div class="leto-bubble-sm">x</div>
                <label class="leto-text-xs">{{k.substring(0,8)}}</label>
            </div->
        </div-->
        <!--div class="output leto-pl" v-if="currentProject && !ideMode">
            <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
        </div-->
        <div class="leto-pv-sm leto-group bottom-sheet" style="background: #202020">
            <div class="dropdown leto-card leto-border-none leto-m leto-mt-md-tablet leto-ml-xl-tablet" v-if="!currentProject">
                <div v-for="(project, k) in projects" class="leto-inline-block leto-m-xs leto-click" v-on:click="useProject(k)">
                    {{k}} <span v-on:click="changeProjectName(k)" class="fa fa-pencil"></span>
                </div>
                <div class="leto-button-xs leto-text-white leto-border-none" v-on:click="addProject(undefined);addOptionsShown=false"><span class="">+</span></div>
            </div>
            <div class="leto-group projects-sidebar leto-fifth-tablet" >
                <div class="sidebar" >
                     <!--div class="leto-badge leto-bg-black leto-text-white leto-border-none leto-click leto-mh-xxs" v-on:click="ideMode = !ideMode">
                            <span class="fa fa-chevron-left"></span>
                        </div-->
                    <div v-for="(project, k) in projects" class="leto-inline-block  leto-mr" v-if="!addOptionsShown && currentProject == k">
                       
                        <div class="leto-pv-xxs leto-badge leto-border-none leto-inline-block leto-click leto-text-sm" style="background: #000000" v-bind:class="{'leto-border-thickness-xxl': k == currentProject}">
                            <div style="font-weight:bold;color:#999999">
                                <!--span class="fa fa-chevron-left" v-on:click="ideMode = !ideMode"></span-->
                                <span v-on:click="currentProject = null">
                                    <i class="fa fa-ellipsis-h"></i>&nbsp;{{k}}
                                </span>
                                <span class="leto-ml-xs leto-color-grey leto-click" v-on:click="addDir(k)">+</span>
                                <span class="leto-color-grey leto-click" v-on:click="deleteProject(k)">&times;</span></div>
                        </div>
                        <subdir :k="k" />
                    </div>
                </div>
            </div>
            <!--div class="leto-m leto-group" v-if="!currentProject">
                <div class="tile leto-m-xs leto-p-xs" v-for="(project, k) in projects" v-on:click="useProject(k)">{{k}} </div>
                <div class="tile leto-m-xs leto-p-xs" v-on:click="addProject(undefined);addOptionsShown=false"><span class="fa fa-plus"></span></div>
            </div-->
            <center style="width: 100%">
                <div class="main-wrapper  leto-text-center" v-bind:class="{'leto-four-fifths-tablet': ideMode}" style="max-height: 100%;overflow: scroll;">
                    <div class="leto-text-left">
                        <div class="leto-ml-xl">
                            <div class="leto-badge leto-bg-black leto-text-white leto-border-none leto-click leto-mh-xs" style="background: #000000" v-on:click="ideMode = !ideMode" v-if="!ideMode">
                                <span class="fa fa-folder" ></span> <span class="fa fa-chevron-right" ></span>
                            </div>
                            <div class="leto-badge leto-bg-black leto-text-white leto-border-none leto-click leto-mh-xs" v-for="(tab, i) in tabs">
                                <div class=""><span v-on:click="useTab(i, tab.content, undefined, true)">{{tab.content.substring(0, 10)}}</span> <span class="leto-color-grey leto-click" v-on:click="deleteTab(i)">&times;</span>
                                </div>
                            </div>
                        </div>
                        <div class="main-content leto-pt-xs" v-show="currentProject">
                            <br>
                            <!-- canvas for quixui scripts (experimental) -->
                            <div class="leto-m leto-text-white" v-if="content.includes('quixui.puzzle.js')">
                            </div>
                            <!-- canvas for custom html from the lxhtml module -->
                            <div class="leto-m-lg leto-text-white" id="html-canvas" v-html="customContent.html" v-bind:style="customContent.style" v-show="customContent.html"></div>
                            <!-- the main editor (ace.js) -->
                            <div class="" style="
    padding: 10px;padding-bottom: 20px;
    border-radius: 10px;max-width: 95%">
                                <div id="editor" class="leto-mt-sm"></div>
                            </div>
                            <br>
                            <div class="leto-pl">
                                <div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="runCode(content)"><small><i class="fa fa-play"></i></small></div>
                                <div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="saveContent()"><small><i class="fa fa-save"></i></small></div>
                                <!--div class="leto-text-dark-grey leto-button-sm leto-click leto-inline-block leto-mh-none" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content || !currentProject}" v-on:click="useTab(openedFileKey, content, currentProject)"><small><i class="fa fa-map-pin"></i></small></div-->
                            </div>
                            <br>
                            <div class=" leto-pl" v-if="currentProject">
                                <pre class="leto-text-white " style="margin-left: 10px;display: inline-block;color:#999999" v-html="output"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
            <div class="leto-fifth-tablet">
            </div>
        </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'Puzzle Shell'

    if (getParameterByName('base64')) {
        // Parse base64 encoded puzzle script
        window.puzzle_script = atob(getParameterByName('base64'));
    } else if (getParameterByName('remote')) {
        // Include remote script file
        window.puzzle_script = "include '" + getParameterByName('remote') + "'";
    }

    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>