<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Puzzle Web CLI</title>
    <!--script type="text/javascript" src="https://cdn.jsdelivr.net/gh/puzzle-lang/puzzle@0.0.3/puzzle.browser.js"></script-->
    <script type="text/javascript" src="puzzle-local.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://unpkg.com/isomorphic-git@beta"></script>
    <script type="module">
        fs = new LightningFS('fs');
    import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js';
    window.http = http;
    </script>
</head>

<body>
    <div id="app" class="leto-frame">
        <!-- main content -->
        <div class="sidebar">
            <div v-for="(project, k) in projects" v-if="!addOptionsShown">
                <div class="leto-text-white leto-block leto-pl-sm leto-p-sm times-hover leto-click" v-bind:class="{'leto-border-thickness-xxl': k == currentProject}" v-on:click="useProject(k)" v-on:dblclick="changeProjectName(k)">
                    <b v-bind:class="{'active': k == currentProject}" v-on:click="toggleStructureHidden(k)"><span class="fa fa-folder leto-mr-xxs"></span> {{k || '...'}}</b>
                    <span class="leto-color-grey leto-click bubble-badge- times" v-on:click="deleteProject(k)">&times;</span>
                </div>
                <subdir v-if="!structoreHidden[k]" :k="k" />
            </div>
            <div class="leto-button-xs leto-text-white leto-border-none leto-mt-xxs times leto-ml-sm leto-pl-xs" v-on:click="addProject(undefined);addOptionsShown=false"><span class="super-grey-label">+ project</span></div>
        </div>
        <!--div class="sidebar-hidden leto-pl-xs leto-pt" >
            <div class="leto-bubble-xs leto-p-none leto-mh-none times leto-text-white leto-border-none leto-bold leto-click" v-on:click="lxOptionsShown=true">
                <div class="fa fa-ellipsis-v" style="font-size: 16px"></div>
            </div>
        </div-->
        <pre class="leto-text-white leto-p" style="margin-left: 20px;display: inline-block;color:#999999" v-html="output"></pre>
        <div class="main-content-bottom leto-pt-xs">
            <br>
            <!-- canvas for quixui scripts (experimental) -->
            <div class="leto-m leto-text-white" v-if="content.includes('quixui.puzzle.js')">
            </div>
            <!-- canvas for custom html from the lxhtml module -->
            <div class="leto-m-lg leto-text-white" id="html-canvas" v-html="customContent.html" v-bind:style="customContent.style" v-show="customContent.html"></div>
            <br>
            <!-- the main editor (ace.js) -->
            <div id="editor" class="leto-mt-sm"></div>
            <br>
            <div style="margin-left: 35px;display: inline-block;">
                <div class="leto-button-xs leto-text-white" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content}" v-on:click="runCode(content)">RUN</div>
                <div class="leto-button-xs leto-text-white" v-if="!scriptOptionsShown" v-bind:class="{'disabled': !content}" v-on:click="saveContent()"><span class="fa fa-save"></span></div>
                <div class="leto-button-xs leto-text-white leto-ph-sm" v-if="content" v-on:click="scriptOptionsShown=!scriptOptionsShown"><span class="fa" v-bind:class="{'fa-ellipsis-h': !scriptOptionsShown, 'fa-chevron-left': scriptOptionsShown}"></span></div>
                <span v-if="scriptOptionsShown">
                    <div class="leto-button-xs leto-text-white leto-ph-sm" v-on:click="generateRunner(content)">export</div>
                    <!--div class="leto-button-xs leto-text-white leto-ph-sm" v-on:click="generateStandalone(content)">export as standalone</div-->
                </span>
                
                
            </div>
            <br>
        </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    document.title = getParameterByName('name') || 'Puzzle Web CLI'

    if (getParameterByName('base64')) {
        // Parse base64 encoded puzzle script
        window.puzzle_script = atob(getParameterByName('base64'));
    } else if (getParameterByName('remote')) {
        // Include remote script file
        window.puzzle_script = "include '" + getParameterByName('remote') + "'";
    }

    puzzle.parse(window.puzzle_script)
    </script>
</body>

</html>